<section>
<div class="banner">
    <img src="../../assets/images/18156239_664080460462249_1206793569668341868_o.jpg" alt="">
</div>
<div class="content">
    <h1>Вашата усмивка е нашата мисия!</h1>
    <p>Добре дошли в нашата дентална клиника, където усмивката ви е нашият приоритет! С модерно оборудване, висококвалифицирани специалисти и индивидуален подход, ние гарантираме комфорт и професионална грижа за вашите зъби. Доверете се на нашия опит и се усмихвайте с увереност! Запишете час още днес и направете първата крачка към здравата и красива усмивка, която заслужавате.</p>
</div>
</section>