div.section {
    background-image: url(../../assets/images/18156239_664080460462249_1206793569668341868_o.jpg);
    margin: 0;
    min-height: 100%;
    width: 100%;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 0;
}



.content {
    margin: 0 32px;
    display: block;
    background-color: darkcyan;
    opacity: 0.7;
    min-width: 400px ;
    top: 18em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    top: 19em;
}

.buttons button {
    padding: 0.5em 1em;
    box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.1);
    background-color: darkcyan;
    color: beige;
    border-radius: 0.3em;
    opacity: 0.8;
}

.buttons button a {
    text-decoration: none;
    color: white;
}

.content h1,
.content p {
    padding: 1em;
    color: white;
    font-size: 1.2em;

}

