<div class="section">
<section>
<div class="content">
    <h1>Вашата усмивка е нашата мисия!</h1>
    <p>Добре дошли в нашата дентална клиника, където усмивката ви е нашият приоритет! С модерно оборудване, висококвалифицирани специалисти и индивидуален подход, ние гарантираме комфорт и професионална грижа за вашите зъби. Доверете се на нашия опит и се усмихвайте с увереност! Запишете час още днес и направете първата крачка към здравата и красива усмивка, която заслужавате.</p>
</div>
<div class="buttons">
    <button>Запазете вашият час</button>
    <button>Обадете се: <a href="tel:+359876353577">0876 35 35 77</a></button>
</div>
</section>
</div>