<nav>
    <a href="/">Home</a>
    <a href="/about">About us</a>
    <a href="/services">A Dentists Blog</a>
    <a href="/new-patient">New Patient</a>
    <a href="/book-online">Book Online</a>
    <a href="/before-after">Before And After</a>
    <a href="/blog">A Dentist Blog</a>
    <a href="/contacts">Contacts</a>
</nav>