<section>
    <div class="container">
    <div class="logo"><img src="../../assets/favicon.ico" alt="icon"></div>        
    <h3>Something maybe inspiring about the clinic</h3>
    </div>

    <div class="container">
        <div class="main">
            <p>Полезни връзки</p>
            <p><a routerLink="/home">Dr.V</a></p>
            <p><a routerLink="/about-us">За нас</a></p>
            <p><a routerLink="/before-after">Преди и След</a></p>
            <p><a routerLink="/treatments">Лечения</a></p>
            <p><a routerLink="/blog">Полезна информация</a></p>
            <p><a routerLink="/contact-us">Свържете се с нас</a></p>
        </div>
        
        <div class="aside">
            <p><span><i class="fa-brands fa-facebook"></i></span></p>
            <p><span><i class="fa-brands fa-instagram"></i></span></p>
            <p><span><i class="fa-regular fa-envelope"></i></span></p>
            <p><span><i class="fa-solid fa-map-location-dot"></i></span></p>
            <p><span><i class="fa-solid fa-phone"></i></span></p>        
        </div>   
    </div>

</section>
