section {
    background: linear-gradient(90deg, rgb(95, 191, 197) 0%, rgb(38, 98, 136) 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}