div.navbar {
    padding: 2em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
    opacity: 0.8;
}

div ul.links {
    display: flex;
    gap: 1em;
}

li {
    list-style: none outside;
}

 a {
    text-decoration: none;
    color: rgb(13, 67, 67);
    font-weight: 600;
    font-size: 1.2em;
}

div ul li a:hover {
    color: rgb(59, 91, 81);
    cursor: pointer;
}
header {
    position: relative;
    padding: 0 2rem;
}

.navbar .toggle-btn {
    color: darkcyan;
    font-weight: bolder;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}

/* Dropdown Menu */
.dropdown-menu {
    z-index: 4;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 0.3rem;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 350px;
}

.dropdown-menu ul {
    display: flex;
    flex-direction: column;
}

.dropdown-menu li {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 920px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}