
<h2>Как да поддържаме добра устна хигиена</h2>
<div class="intro">
    <h3>Защо е важно да поддържаме добра устна хигиена?</h3>
    <p>Добрата устна хигиена.... Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, omnis.</p>

    <img src="../../assets/images/Good-Oral-Hygiene-Practices-at-Home.jpg" alt="good oral hygiene">
</div>


<h4>Често задавани въпроси:</h4>

<div class="questions">

    <div class="info">
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            Какво е добра устна хигиена?
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent class="answear">
        Some deferred content
        </ng-template>
    </mat-expansion-panel>
    </div>

<div class="info">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Как да избера правилната четка за зъби?
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
        Some deferred content
        </ng-template>
    </mat-expansion-panel>
</div>

<div class="info">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Как да се поддържаме добра устна хигиена?
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
        Some deferred content
        </ng-template>
    </mat-expansion-panel>
</div>

<div class="info">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Какво се добива от поддържането на добра устна хигиена?
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
        Some deferred content
        </ng-template>
    </mat-expansion-panel>
</div>

</div>