<h1>OUR TREATMENTS</h1>
<div class="container">
    <article>
        <h4>Treatment name 1</h4>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, dignissimos!
            <span id="less">...</span><span id="more">
                Reading more of this article somehow
            </span>
        </p>
        <button (click)="toggleReadMore">Read More</button>
    </article>

    <article>
        <h4>Treatment name 2</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, delectus.</p>
        <button>Read More</button>
    </article>

    <article>
        <h4>Treatment name 3</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, delectus.</p>
        <button>Read More</button>
    </article>

    <article>
        <h4>Treatment name 4</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, delectus.</p>
        <button>Read More</button>
    </article>    
</div>
