<h1>OUR TREATMENTS</h1>
<div class="container">
    <article class="treatmentOne">
        <h4>Treatment name 1</h4>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, dignissimos!
            <span id="less">...</span><span id="more">
                Reading more of this article somehow
            </span>
        </p>
        <button (click)="toggleReadMore">Read More</button>
    </article>

    <article class="treatmentTwo">
        <h4>Treatment name 2</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, delectus.</p>
        <button>Read More</button>
    </article>

    <article class="treatmentThree">
        <h4>Treatment name 3</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, delectus.</p>
        <button>Read More</button>
    </article>

    <article class="treatmentFour">
        <h4>Treatment name 4</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, delectus.</p>
        <button>Read More</button>
    </article>    
</div>

<h2>GET STARTED NOW</h2>

<div class="getStarted">
    <div class="first">
        <img src="../../assets/images/callingFromHome.webp" alt="Make an appointment">
        <p><span><i class="fa-solid fa-1"></i></span></p>
        <h3>Make an appointment</h3>
    </div>
    <div class="second">
        <img src="../../assets/images/speakToYourDentist.jpg" alt="Choose your treatment">
        <p><span><i class="fa-solid fa-2"></i></span></p>
        <h3>Choose your treatment</h3>
    </div>
    <div class="third">
        <img src="../../assets/images/getStarted.jpg" alt="Get started">
        <p><span><i class="fa-solid fa-3"></i></span></p>
        <h3>Get treated</h3>
    </div>
</div>