h1 {
    text-align: center;
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: row;
}
article {
    margin: 2em;
    padding: 2em;
    background-color: rgb(0, 139, 139, 0.5);
}

article p span #less {
    display: inline;
}

article p span #more {
    display: none;
}