<!-- <h1>Лечения</h1> -->

<div class="logo">
    <img src="../../assets/images/18121177_664087393794889_7773137355934588764_o-modified.jpg" alt="treatments logo">
</div>

<div class="treatments-text">
    <h1>Лечения</h1>
</div>
<div class="container">
    <div class="treatmentOne a">
        <h4>Ендодонтско лечение под микроскоп</h4>

        <!-- Trying something new for the readMoreLessButton -->

        <!-- <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, dignissimos!
            <span id="less">...</span><span id="more">
                Reading more of this article somehow
            </span>
        </p> -->
        <div *ngIf="content.length <= 150; else longContent">
            <!-- <p>{{ content }}</p> -->
          </div>
          <ng-template #longContent>
            <!-- Display shortened content -->
            <p>{{ content.slice(0, 150) }}...</p>
            <!-- Implement "Read More/Less" button -->
            <button (click)="toggleReadMore()">Read {{ isExpanded ? 'Less' : 'More' }}</button>
          </ng-template>
            <p *ngIf="!isExpanded">{{ content.slice(0, 150) }}...</p>
            <p *ngIf="isExpanded">{{ content }}</p>
            <button (click)="toggleReadMore()">Прочети повече {{ isExpanded ? 'Less' : 'More' }}</button>
    </div>

    <div class="treatmentOne b">
        <h4>Поставяне на дентални импланти</h4>
        <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, delectus.</p> -->
        <div *ngIf="content.length <= 150; else longContent">
            <!-- <p>{{ content }}</p> -->
          </div>
          <ng-template #longContent>
            <!-- Display shortened content -->
            <p>{{ content.slice(0, 150) }}...</p>
            <!-- Implement "Read More/Less" button -->
            <button (click)="toggleReadMore()">Read {{ isExpanded ? 'Less' : 'More' }}</button>
          </ng-template>
            <p *ngIf="!isExpanded">{{ content.slice(0, 150) }}...</p>
            <p *ngIf="isExpanded">{{ content }}</p>
            <button (click)="toggleReadMore()">Прочети повече {{ isExpanded ? 'Less' : 'More' }}</button>
    </div>

    <div class="treatmentOne c">
        <h4>Лечение на кариес, пулпит, гингивит и пародонтит</h4>
        <div *ngIf="content.length <= 150; else longContent">
            <!-- <p>{{ content }}</p> -->
          </div>
          <ng-template #longContent>
            <!-- Display shortened content -->
            <p>{{ content.slice(0, 150) }}...</p>
            <!-- Implement "Read More/Less" button -->
            <button (click)="toggleReadMore()">Read {{ isExpanded ? 'Less' : 'More' }}</button>
          </ng-template>
            <p *ngIf="!isExpanded">{{ content.slice(0, 150) }}...</p>
            <p *ngIf="isExpanded">{{ content }}</p>
            <button (click)="toggleReadMore()">Прочети повече {{ isExpanded ? 'Less' : 'More' }}</button>
    </div>

    <div class="treatmentOne d">
        <h4>Рентгенова диагностика</h4>
        <div *ngIf="content.length <= 150; else longContent">
            <!-- <p>{{ content }}</p> -->
          </div>
          <ng-template #longContent>
            <!-- Display shortened content -->
            <p>{{ content.slice(0, 150) }}...</p>
            <!-- Implement "Read More/Less" button -->
            <button (click)="toggleReadMore()">Read {{ isExpanded ? 'Less' : 'More' }}</button>
          </ng-template>
            <p *ngIf="!isExpanded">{{ content.slice(0, 150) }}...</p>
            <p *ngIf="isExpanded">{{ content }}</p>
            <button (click)="toggleReadMore()">Прочети повече {{ isExpanded ? 'Less' : 'More' }}</button>
    </div>  
    
    <div class="treatmentOne e">
        <h4>Дентална естетика</h4>
        <div *ngIf="content.length <= 150; else longContent">
            <!-- <p>{{ content }}</p> -->
          </div>
          <ng-template #longContent>
            <!-- Display shortened content -->
            <p>{{ content.slice(0, 150) }}...</p>
            <!-- Implement "Read More/Less" button -->
            <button (click)="toggleReadMore()">Read {{ isExpanded ? 'Less' : 'More' }}</button>
          </ng-template>
            <p *ngIf="!isExpanded">{{ content.slice(0, 150) }}...</p>
            <p *ngIf="isExpanded">{{ content }}</p>
            <button (click)="toggleReadMore()">Прочети повече {{ isExpanded ? 'Less' : 'More' }}</button>
    </div>

    <div class="treatmentOne f">
        <h4>Протезиране с естетични циркониеви корони, фасети</h4>
        <div *ngIf="content.length <= 150; else longContent">
            <!-- <p>{{ content }}</p> -->
          </div>
          <ng-template #longContent>
            <!-- Display shortened content -->
            <p>{{ content.slice(0, 150) }}...</p>
            <!-- Implement "Read More/Less" button -->
            <button (click)="toggleReadMore()">Read {{ isExpanded ? 'Less' : 'More' }}</button>
          </ng-template>
            <p *ngIf="!isExpanded">{{ content.slice(0, 150) }}...</p>
            <p *ngIf="isExpanded">{{ content }}</p>
            <button (click)="toggleReadMore()">Прочети повече {{ isExpanded ? 'Less' : 'More' }}</button>
    </div>

    <div class="treatmentOne g">
        <h4>Професионално избелване на зъби</h4>
        <div *ngIf="content.length <= 150; else longContent">
            <!-- <p>{{ content }}</p> -->
          </div>
          <ng-template #longContent>
            <!-- Display shortened content -->
            <p>{{ content.slice(0, 150) }}...</p>
            <!-- Implement "Read More/Less" button -->
            <button (click)="toggleReadMore()">Read {{ isExpanded ? 'Less' : 'More' }}</button>
          </ng-template>
            <p *ngIf="!isExpanded">{{ content.slice(0, 150) }}...</p>
            <p *ngIf="isExpanded">{{ content }}</p>
            <button (click)="toggleReadMore()">Прочети повече {{ isExpanded ? 'Less' : 'More' }}</button>
    </div>
</div>

<!-- <h2>Запазете си час... сега!</h2> -->

<!-- <div class="getStarted">
    <div class="first">
        <img src="../../assets/images/callingFromHome.webp" alt="Make an appointment">
        <p><span><i class="fa-solid fa-1"></i></span></p>
        <h4>Make an appointment</h4>
    </div>
    <div class="second">
        <img src="../../assets/images/speakToYourDentist.jpg" alt="Choose your treatment">
        <p><span><i class="fa-solid fa-2"></i></span></p>
        <h4>Choose your treatment</h4>
    </div>
    <div class="third">
        <img src="../../assets/images/getStarted.jpg" alt="Get started">
        <p><span><i class="fa-solid fa-3"></i></span></p>
        <h4>Get treated</h4>
    </div>
</div> -->